body{
	    color: #333;
    font-family: 'Work Sans',sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    font-size: 1.4rem;
}
.account-nav .item .delimiter {
     border-top: 0px solid #d1d1d1;
    display: block;
    margin: 10px 1.8rem;
}
.nav-sections {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    margin-bottom: 25px;
    background-color: black;
    padding-bottom: 30px;
}

.navigation ul {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    position: relative;
    width: 100%;
    background: black;
    text-align: right;
}


.navigation {

    background:  black;
    font-weight: 700;
    height: inherit;
    left: auto;
    overflow: inherit;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 3;

}



.page-header {

    border: 0;
    margin-bottom: 0;
    background-color:black;

}

.page-header .header.panel {
    padding-bottom: 0px;
    padding-top: 0px;
}



.page-header .panel.wrapper {

    border-bottom: 0px solid black;

}



.navigation, .breadcrumbs, .page-header .header.panel, .header.content, .page-wrapper>.widget, .page-wrapper>.page-bottom, .block.category.event, .top-container, .page-main .footer .content, .content {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    max-width: 1680px;
    width: auto;
}



@media (min-width: 768px), print{
    .page-header {
        background-color: black;
        border: 0;
        margin-bottom: 0;
    }
}






.page-header .panel.wrapper {

    border-bottom: 0px solid black;

}

.header.panel>.header.links {
    float: right;
    font-size: 0;
    margin: 0;
    padding: 0;
    list-style: none none;
    margin-left: auto;
    width: 100%;
    padding: 10px;
}


 .header.panel>.header.links>li {
    font-size: 14px;
    margin: 0 0 0 15px;
    float: right;
}


.block-search input {
    margin: 0;
    padding-right: 55px;
    position: static;
    padding-bottom: 20px;
    padding-top: 20px;
}

.block-search {
    float: left;
    padding-left: 250px;
    position: relative;
    width: 60%;
    z-index: 4;
}


.minicart-wrapper {
    display: inline-block;
    position: relative;
    float: left;
    margin-left: -90px;
}




/*ul>li, ol>li {
    display: inline;

}

ul, ol {
    margin-top: 0;
    margin-bottom: 2.5rem;
    list-style-type: none;
    float: right;

}*/



