body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #707070;
}

main#maincontent {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1680px;
  width: 100%;
  padding: 40px 0;
  font-size: 16px;
}

h1.page-title {
  font-size: 30px;
  font-weight: 400;
}

li.nav.item.current {
  background: #9BCC23;
  padding: 4px;
}

.account-nav .item.current a, .account-nav .item.current strong {
  border-color: transparent;
  font-weight: 600;
}

.account-nav .content {
  padding: 15px 0;
}

.account-nav .item {
  margin: 3px 0 0;
  border-bottom: 1px solid #F3F3F3;
  background: #fff;
}

.column.main .block:last-child {
  background: #F3F3F3;
}

footer {
  background: #f5f5f5;
  background: url(http://127.0.0.1/magento2/pub/media/assets/img/footer-bg.png) center;
  background-size: cover;
}
footer.page-footer h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

footer .content ul > li {
  margin: 0 !important;
  list-style: inside !important;
  font-size: 13px !important;
}

.column-new-add {
  height: auto !important;
  background: #fff !important;
}

header.page-header {
  padding: 20px 0 0;
}
header.page-header ul.header li a {
  color: #ffffff;
  margin-right: 10px;
  font-size: 14px;
}
header.page-header .minicart-wrapper a {
  color: #8FC964;
}
header.page-header .navigation ul li a, header.page-header .navigation ul li a span {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  color: #fff !important;
  font-weight: 400;
  text-transform: capitalize !important;
}
header.page-header .navigation ul li a i {
  color: #8FC964;
}
header.page-header .block-search input {
  max-width: 400px;
}

.why-us-footer-block {
  background: #fff;
  padding: 40px;
}

.footer.content {
  max-width: 100% !important;
  background: #fff;
  padding: 0 !important;
  margin-top: 0 !important;
}

.row-new {
  display: table;
}
.row-new .column-new-add {
  display: table-cell;
  padding: 0 20px 20px 0;
}

.footer-list-wrapper {
  padding: 30px !important;
  background: #f5f5f5;
  background: url(http://127.0.0.1/magento2/pub/media/assets/img/footer-bg.png) center;
  background-size: cover;
}

.page-wrapper {
  background: #f5f5f5;
}

a.dashboard-item-box {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.5);
  -moz-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.5);
  box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.2);
  padding: 40px 20px 20px;
  width: 210px;
  height: 180px;
  text-align: center;
  display: block;
  text-decoration: none;
  color: #666;
  transition: transform 0.5s ease;
  margin-bottom: 30px;
  background: #fff;
}

.dashboard-wrapper {
  width: 900px;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  color: #666666;
  display: table;
  font-size: 16px;
  padding-top: 0;
  padding-bottom: 0;
}

a.dashboard-item-box {
  width: 250px !important;
  height: 240px !important;
}

.dashboard-wrapper {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

ul.dashboard-item-group {
  margin: 0 0 40px;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

/*footer styles*/
footer .content ul > li {
  margin: 0 !important;
  list-style: inside !important;
  font-size: 13px !important;
}
footer .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
footer .col-md-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
footer hr {
  border-top: 1px solid #707070;
}
footer .copyright {
  text-align: center !important;
  color: #707070;
  font-size: 14px;
}
footer li.list-group-item {
  padding: 2px 20px;
  background: transparent;
  position: relative;
  display: block;
  margin-bottom: -1px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}
footer li.list-group-item.active, footer li.list-group-item.active a {
  color: #fff;
  background: transparent;
  border: transparent;
  text-transform: uppercase;
  padding: 10px 20px;
  z-index: 2;
}
footer li.list-group-item.active a {
  padding-left: 0;
}
footer li.list-group-item a {
  color: #ccc;
}
footer .why-us-footer-block ul {
  padding: 0 0 0 10px;
  text-indent: -18px;
  margin-left: 10px;
}

/*footer styles*/
form#search_mini_form {
  max-width: 400px;
  position: relative !important;
}
form#search_mini_form input {
  max-width: 400px;
  border-radius: 4px;
  padding-left: 15px;
}
form#search_mini_form .action.search {
  display: inline-block;
  background-image: none;
  background: none;
  -moz-box-sizing: content-box;
  border: 0;
  box-shadow: none;
  line-height: inherit;
  margin: 0;
  text-decoration: none;
  text-shadow: none;
  font-weight: 400;
  padding: 5px 0;
  position: absolute;
  right: 10px;
  top: 5px;
  z-index: 1;
}

.cat-list-wrapper {
  position: relative;
}
.cat-list-wrapper:before, .cat-list-wrapper:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -500px;
  width: 500px;
  background: #F5F8FD;
}
.cat-list-wrapper:after {
  left: auto;
  right: -500px;
  background: #F5F8FD;
}

ul.header.links {
  float: right;
  display: flex;
  flex-direction: row-reverse;
}
ul.header.links li {
  list-style: none;
  float: left;
  margin-right: 10px;
}

.navigation .level0.parent > .level-top span, .navigation a:visited, .navigation .level0 > .level-top {
  font-size: 14px !important;
  text-transform: capitalize !important;
  color: #fff !important;
  font-weight: 400 !important;
}

.navigation a:visited i {
  color: #8FC964 !important;
}

.navigation .level0 > .level-top {
  color: #fff !important;
  line-height: 2 !important;
}

.navigation .level0.active > .level-top, .navigation .level0.has-active > .level-top {
  border-color: #8FC964 !important;
  border-style: solid !important;
  border-width: 0 0 3px !important;
  color: #333 !important;
  text-decoration: none !important;
  display: inline-block !important;
}

.block-search {
  width: 600px !important;
}

.minicart-wrapper .action.showcart:before {
  color: #8FC964 !important;
}

li.greet.welcome {
  color: #8FC964 !important;
  font-size: 14px;
}

.navigation .level0 .submenu a {
  font-size: 14px !important;
  text-align: left !important;
}

.navigation .level0 .submenu .submenu li.category-item.first.ui-menu-item a {
  background: #8FC964 !important;
}

.account-nav .item {
  margin: 3px 0 0;
  border-bottom: 1px solid #F3F3F3;
  background: #fff;
  width: 100%;
}
.account-nav .item a {
  text-decoration: none;
  display: block;
  width: 100%;
  color: #575757;
  font-weight: 600;
}
.account-nav .item a:hover .account-nav .item a:hover {
  background: #e8e8e8;
  border-left: 3px solid #8FC964;
}


/*start*/

.footer-list-wrapper {
    width: 1180px;
    margin: 0 auto;
font-family: "Roboto", sans-serif;
}

footer li.list-group-item.active, footer li.list-group-item.active a{
font-size:16px!important;
}
footer li.list-group-item a {
    color: #ccc;
    font-size: 16px;
}
/*end*/
/*# sourceMappingURL=common.css.map */